    <!-- body
    ============================================================================ -->
    <body style="background-color:#effaff;" class="page-preloader-style-3 gfort-desktop-device pace-done" data-spy="scroll" data-target=".header-menu-container" data-offset="85"><div class="pace  pace-inactive"><div class="pace-progress" data-progress-text="100%" data-progress="99" style="transform: translate3d(100%, 0px, 0px);">
  <div class="pace-progress-inner"></div>
</div>
<div class="pace-activity"></div>
<div class="pace-preloader-text-percent" data-progress-text="100%"><div class="gfort-page-preloader-container"><div class="gfort-page-preloader-divs-container"><div class="gfort-page-preloader-1"></div><div class="gfort-page-preloader-2"></div><div class="gfort-page-preloader-3"></div><div class="gfort-page-preloader-4"></div><div class="gfort-page-preloader-5"></div></div><div class="gfort-page-preloader-text"></div></div></div></div>


        <!-- To top Button
        ======================================================================== -->



        <!-- Main Wrapper
        ======================================================================== -->
        <div id="main-wrapper" style="background-color: rgb(239, 250, 255); animation-duration: 1500ms; opacity: 1;" class="">


            <!-- Page Body
            ==================================================================== -->
            <div class="page-body">


                <!-- Main Content
                ================================================================ -->
                <div class="main-content">
                    <!-- Main Content Container -->
                    <div class="main-content-container ">


                        <!-- gfort Section -->
                        <div class="gfort-section ">
                            <!-- Section Container -->
                            <div class="section-container">
                                <!-- container -->
                                <div class="container">
                                    <!-- row -->
                                    <div class="row">


                                        <!-- col-md-12 -->
                                        <div class="col-md-12">
                                            <!-- Account Form Block -->
                                            <div class="form-block account-form-block account-form-block-style-1">
                                                <!-- Form Block Container -->
                                                <div class="form-block-container">
                                                    <!-- Form -->
                                                    <form method="post" action="#">


                                                        <!-- Form Block Title -->
                                                        <div class="col-md-12">
                                                       
                                                        
														<div class="form-block-title text-center">
														<h4>User SignIn</h4>
                                                            </div>
                                                        </div><!-- /End Form Block Title -->


                                                        <!-- Email Address -->
                                                        <div class="col-md-12">
                                                            <!-- Form Group -->
                                                            <div class="form-group">

                                                                <label >Email</label>
                                                                <input type="email"  [(ngModel)]="Loginemail" class="form-control input"  [ngModelOptions]="{standalone: true}" id="Id">

                                                            </div><!-- /End Form Group -->
                                                        </div><!-- /End Email Address -->


                                                        <!-- Username -->
                                                        <div class="col-md-12">
                                                            <div class="form-group">
															<label >Password</label>
                                                                <input type="password" [(ngModel)]="Loginpwd" class="form-control input"  [ngModelOptions]="{standalone: true}" id="password">

                                                            </div>
                                                        </div><!-- /End Username -->


                                                      	


                                                        <!-- Submit Button -->
                                                        <div class="col-md-12">
                                                            <!-- Form Group -->
                                                            <div class="form-group">

                                                                <button  (click)="LoginBtn()" class="btn btn-gfort">Log in</button>
																 <button  (click)="Register()" class="btn btn-gfort">Register</button>
                                                               <button  (click)="BackBtn()" class="btn btn-gfort">Back</button>

                                                            </div><!-- /End Form Group -->
                                                        </div><!-- /End Submit Button -->


                                                        <!-- Form Block Title -->
                                                        <!-- /End Form Block Title -->

                                                        
                                                    </form><!-- /End Form -->
                                                </div><!-- /End Form Block Container -->
                                            </div><!-- /End Account Form Block -->
                                        </div><!-- /End col-md-12 -->


                                    </div><!-- /End row -->
                                </div><!-- /End container -->
                            </div><!-- /End Section Container -->
                        </div><!-- /End gfort Section -->


                    </div><!-- /End Main Content Container -->
                </div><!-- /End Main Content -->


            </div><!-- /End Page Body -->

</div></body>