    <!-- body
    ============================================================================ -->
    <body style="background-color:#effaff;" class="page-preloader-style-3 gfort-desktop-device pace-done" data-spy="scroll" data-target=".header-menu-container" data-offset="85"><div class="pace  pace-inactive"><div class="pace-progress" data-progress-text="100%" data-progress="99" style="transform: translate3d(100%, 0px, 0px);">
  <div class="pace-progress-inner"></div>
</div>
<div class="pace-activity"></div>
<div class="pace-preloader-text-percent" data-progress-text="100%"><div class="gfort-page-preloader-container"><div class="gfort-page-preloader-divs-container"><div class="gfort-page-preloader-1"></div><div class="gfort-page-preloader-2"></div><div class="gfort-page-preloader-3"></div><div class="gfort-page-preloader-4"></div><div class="gfort-page-preloader-5"></div></div><div class="gfort-page-preloader-text"></div></div></div></div>


        <!-- To top Button
        ======================================================================== -->
        <a href="#" class="btn-gfort-top"><i class="fa fa-angle-up"></i></a>


        <!-- Main Wrapper
        ======================================================================== -->
        <div id="main-wrapper" style="background-color: rgb(239, 250, 255); animation-duration: 1500ms; opacity: 1;" class="">


            <!-- Page Body
            ==================================================================== -->
            <div class="page-body">


                <!-- Main Content
                ================================================================ -->
                <div class="main-content">
                    <!-- Main Content Container -->
                    <div class="main-content-container ">


                        <!-- gfort Section -->
                        <div class="gfort-section ">
                            <!-- Section Container -->
                            <div class="section-container">
                                <!-- container -->
                                <div class="container">
                                    <!-- row -->
                                    <div class="row">


                                        <!-- col-md-12 -->
                                        <div class="col-md-12">
                                            <!-- Account Form Block -->
                                            <div class="form-block account-form-block account-form-block-style-1">
                                                <!-- Form Block Container -->
                                                <div class="form-block-container">
                                                    <!-- Form -->
                                                    <form method="post" action="#">


                                                        <!-- Form Block Title -->
                                                        <div class="col-md-12">
                                                        <div style="text-align:center;">
                                                        
                                                        </div>
														<div class="form-block-title text-center">
														<button class="btn btn-primary" (click)="uLogin()">User Login</button><br><br>
														<button class="btn btn-primary" (click)="aLogin()">Admin Login</button>
                                                            </div>
                                                        </div><!-- /End Form Block Title -->



                                                        
                                                    </form><!-- /End Form -->
                                                </div><!-- /End Form Block Container -->
                                            </div><!-- /End Account Form Block -->
                                        </div><!-- /End col-md-12 -->


                                    </div><!-- /End row -->
                                </div><!-- /End container -->
                            </div><!-- /End Section Container -->
                        </div><!-- /End gfort Section -->


                    </div><!-- /End Main Content Container -->
                </div><!-- /End Main Content -->


            </div><!-- /End Page Body -->

</div></body>